body{
    font-family: 'Montserrat', sans-serif;
}

/** style navbar **/



.head-contact-info li {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
    text-align: right;
    color: white;
}



.jenis1{
    background-color: white;
}

.jenis2{
    background-color: white;
    height: 200px;
}

.white{
    background-color: white;
}

.white3{
    background-color: white;
}

.grey{
    background-color: whitesmoke;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.right2{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.red{
    background-color: red;
}

.whitef{
    background-color: wheat;
    height: 100px;
}


.blue{
    background-color: blue;
}

.green{
    background-color: greenyellow;
}

.pink{
    background-color: hotpink;
}

.brown{
    background-color: brown;
}

.brownheader{
    background-color: brown;
    height: 150px;
}

.brownf{
    background-color: brown;
    height: 100px;
}

.brown2{
    background-color: burlywood;
}

.brown2header{
    background-color: burlywood;
    height: 150px;
}

.brown3{
    background-color: goldenrod;
}

.brown3f{
    background-color: darkgoldenrod;
    height: 100px;
}

.yellow{
    background-color: yellow;
}

.tosca{
    background-color: turquoise;
}

.purple{
    background-color: purple;
}

.child-footer{
    height: 100px;
}

.child-content{
    height: 80px;
}

#linkcol{
    color: white;
}

#linkcol2{
    color: brown;
}

/** MENU ANIMASI ICON SOCMED **/

.footer-menu ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.footer-menu ul li{
    list-style: none;
    
}

.footer-menu ul li a{
    width: 50px;
    height: 50px;
    background: white;
    text-align: center;
    line-height: 47px;
    font-size: 40px;
    margin: 0 15px;
    display: block;
    border-radius: 25%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1
        
}

.footer-menu ul li a .fa{
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.footer-menu ul li a:hover 

.fa{
    color: #fff;
    transform: rotateY(360deg)
}

.footer-menu ul li a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.footer-menu ul li a:hover:before{
    top: 0;
}

ul li:nth-child(1) a:before{
    background: #3b5999;
}

ul li:nth-child(2) a:before{
    background: #e4405f;
}

ul li:nth-child(3) a:before{
    background: #f46f30;
}





/** MENU ANIMASI ICON SOCMED 2 **/

.footer-menu2 ul {
    display: flex;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%,-50%);
}



.footer-menu2 ul li{
    list-style: none;
    
}

.footer-menu2 ul li a{
    width: 35px;
    height: 35px;
    background: white;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    margin: 10px;
    display: block;
    border-radius: 10%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1
        
}

.footer-menu2 ul li a .fa{
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.footer-menu2 ul li a:hover 

.fa{
    color: #fff;
    transform: rotateY(360deg)
}

.footer-menu2 ul li a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.footer-menu2 ul li a:hover:before{
    top: 0;
}

ul li:nth-child(1) a:before{
    background: #3b5999;
}

ul li:nth-child(2) a:before{
    background: #e4405f;
}

ul li:nth-child(3) a:before{
    background: #f46f30;
}


/** MENU ANIMASI ICON SOCMED 2 **/
element.style {
}
235b7.css:922
.row {
    margin-left: 0px;
    margin-right: 0px;
}
235b7.css:517
.row {
    margin-right: -15px;
    margin-left: -15px;
}
style.css:1
.isotope {
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    -ms-transition-property: height,width;
    -o-transition-property: height,width;
    transition-property: height,width;
}
style.css:1
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}
style.css:1
.row {
    margin-left: 0;
    margin-right: 0;
}
235b7.css:433
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body.home.blog.wc-shortcodes-font-awesome-enabled
235b7.css:922
body {
    font-family: 'Open Sans',sans-serif;
}
235b7.css:433
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
style.css:1
.logo, .logo a, .logo p, .textwidget, body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans',sans-serif;
}
Inherited from html
235b7.css:433
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
235b7.css:420
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
235b7.css:916
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
235b7.css:433
*:before, *:after {
}
Pseudo ::after element
235b7.css:920
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
235b7.css:916
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
235b7.css:433
*:before, *:after {
}

element.style {
}
235b7.css:922
.row {
    margin-left: 0px;
    margin-right: 0px;
}
235b7.css:517
.row {
    margin-right: -15px;
    margin-left: -15px;
}
style.css:1
.isotope {
    -webkit-transition-property: height,width;
    -moz-transition-property: height,width;
    -ms-transition-property: height,width;
    -o-transition-property: height,width;
    transition-property: height,width;
}
style.css:1
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}
style.css:1
.row {
    margin-left: 0;
    margin-right: 0;
}
235b7.css:433
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body.home.blog.wc-shortcodes-font-awesome-enabled
235b7.css:922
body {
    font-family: 'Open Sans',sans-serif;
}
235b7.css:433
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
style.css:1
.logo, .logo a, .logo p, .textwidget, body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans',sans-serif;
}
Inherited from html
235b7.css:433
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
235b7.css:420
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
235b7.css:916
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
235b7.css:433
*:before, *:after {
}
Pseudo ::after element
235b7.css:920
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
235b7.css:916
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
235b7.css:433
*:before, *:after {
}